.data-collection {
  border-width: 3px;
  border-style: solid;
  margin-left: 15px;
  padding: 2px;
}

.data-collection-title {
  font-size: 19px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5px;
}

.data-box {
  display: flex;
}

.collector-label {
  margin-left: 5px;
}

.data-button {
  margin-top: 10px;
}

.sensors {
  display: flex;
  margin-bottom: 2px;
}

.sensor-column {
  margin-left: 10px;
}