.data-collection {
  margin-left: 15px;
  padding: 2px;
}

.collection-title {
  text-decoration: underline;
  margin-bottom: 5px;
  font-weight: bold;
}

.data-box {
  display: flex;
}

.collector-label {
  margin-left: 5px;
}

.collection-body {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.collection-body.bottom {
  margin-bottom: 0;
}

.collection-body.column {
  flex-direction: column;
}

.setup-buttons {
  display: inherit;
  justify-content: inherit;
}

.sensors {
  justify-content: inherit;
  display: inherit;
}

.sensor-column {
  margin-left: 10px;
}