.experiment-container {
  transform: scale(.8);
  height: 390px;
  margin-top: -30px;
  margin-bottom: -25px;
}

.jar {
  height: 403px;
  width: 236px;
  left: 200px;
  background-image: url("../jar.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  z-index: 7;
}

.jar-contents {
  width: 90%;
}

.leaf {
  width: 100px;
  height: 124px;
  background-image: url("../leaf.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 250px;
  z-index: 6;
}

.snail {
  width: 77px;
  height: 42px;
  background-image: url("../snail.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 325px;
  z-index: 6;
}

.bulb {
  width: 155px;
  height: 239px;
  background-image: url("../bulb_on.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 40px;
  top: 10px;
  transform: scale(.85);
}

.bulb.off {
  background-image: url("../bulb_off.png");
  left: 37px;
}

